.row
  .col-xs-12.col-sd-12.col-md-6
    .panel.panel-primary
      .panel-body
        .table
          %table.table
            %tr
              %th nom
              %td vaneme
            %tr
              %th prenom
              %td aymeric
            %tr
              %th birthday
              %td 27/06/1977
